<p>you can update here</p>
<%= @list.title%>

<%= form_with model: @list do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit %>
<% end %>
<%= link_to "back lists", lists_path %>
